@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&family=Noto+Sans+Thai&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif
}

h1,
h2,
h3 {
    font-family: 'Kanit', sans-serif;
}

p {
    font-family: 'Noto Sans Thai', sans-serif;
}


@import './layouts/benzo/index.scss'