.x-loading {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #fee2e2, #fecdd3);

    .cupid-heart {
        position: relative;
        width: 100px;
        height: 90px;
        margin: 0 auto;
        animation: heartbeat 1s infinite;
        opacity: 1;
    }

    @keyframes heartbeat {
        0% {
            transform: scale(0.8);
        }

        5% {
            transform: scale(0.9);
        }

        10% {
            transform: scale(0.8);
        }

        15% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.8);
        }

        100% {
            transform: scale(0.8);
        }
    }

    .cupid-arrow {
        position: absolute;
        width: 80px;
        height: 2px;
        background: #ff4b75;
        top: 50%;
        left: -100px;
        transform: translateY(-50%);
        animation: shoot 2s infinite;

        &:before,
        &:after {
            content: '';
            position: absolute;
            background: #ff4b75;
            height: 2px;
            width: 10px;
            right: 0;
        }

        &:before {
            transform: rotate(45deg);
            top: -3px;
        }

        &:after {
            transform: rotate(-45deg);
            top: 3px;
        }
    }

    @keyframes shoot {
        0% {
            left: -100px;
        }

        50% {
            left: 110px;
        }

        100% {
            left: 140px;
        }
    }
}